<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
<p>Thank you for registing your email <a href="mailto:<%= email %>"><%= email %></a> with us! 
<p>We will be in touch shortly
</body>

