<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
<p>Sorry, we cannot register email <a href="mailto:<%= email %>"><%= email %></a> with us! 
<p>Reason <b><%=  error.sqlMessage %> </b>
</body>

